<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion - PayMyBuddy</title>
    <link rel="stylesheet" th:href="@{/styles/stylesLogin.css}">

</head>
<body>
<div class="login-container">
    <div th:if="${param.success}" class="error-message" style="color: green;">
        Inscription réussi. Connectez-vous avec vos identifiants.
    </div>
    <div th:if="${param.error}" class="error-message" style="color: red;">
        Identifiants incorrects. Veuillez réessayer.
    </div>
    <div th:if="${logoutMessage}" class="error-message" style="color: green;">
        <span th:text="${logoutMessage}"></span>
    </div>
    <form class="login-form" th:action="@{/users/login}" method="post">
        <button class="button-paymybuddy">Pay My Buddy</button>
        <div class="form-group">
            <input type="email" id="email" name="username" class="input-field" placeholder="Mail" required>
        </div>
        <div class="form-group">
            <input type="password" id="password" name="password" class="input-field" placeholder="Mot de passe" required>
        </div>
        <button type="submit" class="button-submit">Se connecter</button>
    </form>
</div>

</body>
</html>
