<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<header>
    <link rel="stylesheet" th:href="@{/styles/stylesNavigation.css}"> <!-- Lien vers le CSS spécifique au header -->
    <div class="header-container">
        <h1 style="float: left;">Pay My Buddy</h1>
        <nav style="float: right;">
            <ul>
                <li><a href="/transactions">Transférer</a></li>
                <li><a href="/profile">Profil</a></li>
                <li><a href="/connections">Ajout d'une relation</a></li>
                <li><a href="/users/logout">Déconnecter</a></li>
            </ul>
        </nav>
    </div>
</header>
