<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<header>
    <link rel="stylesheet" th:href="@{/styles/stylesNavigation.css}"> <!-- Lien vers le CSS spécifique au header -->
    <div class="header-container">
        <h1 class= "title" style="float: left;">Pay My Buddy</h1>
        <nav style="float: right;">
            <ul>
                <li><a th:class="${currentUri == '/transactions'} ? 'active' : ''" href="/transactions">Transférer</a></li>
                <li><a th:class="${currentUri == '/profile'} ? 'active' : ''" href="/profile">Profil</a></li>
                <li><a th:class="${currentUri == '/connections'} ? 'active' : ''" href="/connections">Ajout d'une relation</a></li>
                <li><a th:class="${currentUri == '/users/login?logout=true'} ? 'active' : ''" href="/users/login?logout=true">Déconnecter</a></li>
            </ul>
        </nav>
    </div>
</header>

