<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profil Utilisateur</title>
    <link rel="stylesheet" th:href="@{/stylesProfile.css}">
    <link rel="stylesheet" th:href="@{/stylesHeader.css}">
</head>
<body>
<!-- Inclusion du header -->
<div th:replace="header.html"></div>

<div class="profile-container">
    <h2>Profil de l'utilisateur</h2>
    <p><strong>Nom :</strong> <span th:text="${username}"></span></p>
    <p><strong>Email :</strong> <span th:text="${email}"></span></p>
    <p><strong>Mot de passe :</strong> <span th:text="${password}"></span></p>
</div>
</body>
</html>
