<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription - PayMyBuddy</title>
    <link rel="stylesheet" th:href="@{/styles/stylesSignup.css}">
    <!-- Lien vers ton fichier CSS -->
</head>
<body>
<div class="login-container">
    <form class="login-form"th:action="@{/users/signup}" method="post">
        <button class="button-paymybuddy">Pay My Buddy</button>
        <div class="form-group">
            <input type="text" id="username" name="username" class="input-field" placeholder="Username" required>
        </div>
        <div class="form-group">
            <input type="email" id="email" name="email" class="input-field" placeholder="Mail" required>
        </div>
        <div class="form-group">
            <input type="password" id="password" name="password" class="input-field" placeholder="Mot de passe" required>
        </div>
        <button class="button-submit">S'inscrire</button>
    </form>
</div>
</body>
</html>
