<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transactions - PayMyBuddy</title>
    <link rel="stylesheet" th:href="@{/styles/stylesTransactions.css}">
</head>
<body>
<div th:replace="~{navigation.html}"></div>
<div class="transaction-container">
    <form class="transaction-form" th:action="@{/transactions}" method="post"> <!-- Action pour soumettre le formulaire -->
        <div class="form-group">
            <select class="input-field" id="input-connection" name="connection" required>
                <option value="" disabled selected>Choisissez une relation</option>
                <option th:each="connection : ${connections}" th:value="${connection.id}" th:text="${connection.username}"></option>
            </select>
        </div>

        <div class="form-group">
            <textarea class="input-field" id="input-description" name="description" rows="4" placeholder="Description" required></textarea>
        </div>

        <div class="form-group amount-container">
            <input class="input-field" type="number" id="input-amount" name="amount" min="0" step="0.01" required />
            <span class="currency-sign">€</span>
        </div>

        <button class="button-submit" type="submit">Payer</button>
    </form>
</div>
<div class="transactions-table-container">
    <h1>Mes Transactions</h1>
    <table>
        <thead>
        <tr>
            <th>Relation</th>
            <th>Description</th>
            <th>Montant</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transactionData : ${transactions}">
            <td th:text="${transactionData.state == T(com.openclassrooms.PayMyBuddy.util.TransactionUserState).SENDER
            ? transactionData.receiver.username : transactionData.sender.username}"></td>
            <td th:text="${transactionData.description}"></td>
            <td th:text="${transactionData.amount}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
