/* stylesLogin.css */

/* Style général du conteneur de connexion */
.login-container {
    width: 500px; /* Largeur selon la maquette */
    height: 688px; /* Hauteur selon la maquette */
    margin: 50px auto; /* Centrage vertical et horizontal */
    padding: 20px; /* Espacement interne */
    border: 3px solid #ccc; /* Bordure de 3 pixels */
    border-color: #000000;
    border-radius: 0; /* Pas de coins arrondis */
    background-color: #FFFFFF /* Couleur de fond */
    opacity: 1; /* Assurez-vous que l'opacité est à 100% */
}

/* Style du formulaire */
.login-form {
    display: flex; /* Flexbox pour aligner les éléments */
    flex-direction: column; /* Alignement vertical */
}

/* Style des groupes de formulaire */
.form-group {
    margin-bottom: 15px; /* Espacement entre les groupes */
}

/* Style des labels */
.label {
    margin-bottom: 5px; /* Espacement sous le label */
    font-family: 'Inter', sans-serif; /* Police Inter */
    font-weight: bold; /* Texte en gras */
    font-size: 24px; /* Taille de la police */
    text-align: left; /* Alignement à gauche */
}

/* Style des champs de saisie */
.input-field {
    width: 100%; /* Largeur à 100% */
    height: 60px; /* Hauteur du champ */
    border: 1px solid #E0E0E0; /* Bordure de 1 pixel */
    border-radius: 8px; /* Coins arrondis */
    padding: 10px; /* Espacement interne */
    box-sizing: border-box;
    font-family: 'Inter', sans-serif; /* Police Inter */
    font-size: 20px; /* Taille de la police *//* Inclure la bordure dans la largeur totale */
}
/* Styles des placeholders */
.input-field::placeholder {
    color: #828282; /* Couleur du texte du placeholder */
    font-family: 'Inter', sans-serif; /* Police Inter */
    font-weight: bold; /* Texte en gras */
    font-size: 24px; /* Taille de la police */
}

/* Style du bouton PayMyBuddy */
.button-paymybuddy {
    width: 214px; /* Largeur du bouton */
    height: 64px; /* Hauteur du bouton */
    background-color: #F69F1D; /* Couleur de fond */
    border: none; /* Pas de bordure */
    border-radius: 8px; /* Coins arrondis */
    color: white; /* Couleur du texte */
    font-family: 'Inter', sans-serif; /* Police Inter */
    font-weight: bold; /* Texte en gras */
    font-size: 24px; /* Taille de la police */
    text-align: center; /* Centrer le texte */
    display: flex; /* Utiliser Flexbox pour centrer le texte */
    align-items: center; /* Centrer verticalement */
    justify-content: center; /* Centrer horizontalement */
    margin: 20px auto; /* Marges pour centrer le bouton dans le conteneur */
    cursor: pointer; /* Curseur en forme de main */
}

/* Style du bouton de soumission */
.button-submit {
    width: 205px; /* Largeur du bouton */
    height: 64px; /* Hauteur du bouton */
    background-color: #207FEE; /* Couleur de fond */
    border: none; /* Pas de bordure */
    border-radius: 8px; /* Coins arrondis */
    color: white; /* Couleur du texte */
    font-family: 'Inter', sans-serif; /* Police Inter */
    font-weight: bold; /* Texte en gras */
    font-size: 24px; /* Taille de la police */
    text-align: center; /* Centrer le texte */
    display: flex; /* Utiliser Flexbox pour centrer le texte */
    align-items: center; /* Centrer verticalement */
    justify-content: center; /* Centrer horizontalement */
    margin: 20px auto; /* Marges pour centrer le bouton dans le conteneur */
    cursor: pointer; /* Curseur en forme de main */
}
.button-submit:hover {
    background-color: #1A6BBF; /* Couleur de fond au survol */
}
